body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  color: #333;
  height: 100%;
  line-height: 24px;
  letter-spacing: 0.3px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

select {
   -webkit-appearance: none;
   -webkit-border-radius: 0px;  
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}

a {
  text-decoration: none ;
}